[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "funbootband"]
	path = funbootband
	url = https://github.com/koda86/funbootband-cran
